---
/**
 * Experience Section
 */
import { getResumeItems, getItemName, renderContent } from "../utils";

const items = await getResumeItems("04-experience");
---

<section id="experience" class="section section--experience">
  <h2>Professional Experience</h2>

  {items.map((item) => {
    const itemName = getItemName(item);
    return (
      <article id={`experience-${itemName}`} class="item">
        {item.data.position && <h3>{item.data.position}</h3>}
        <div class="item-meta">
          <div class="item-meta-left">
            {item.data.company && <span class="subheader">{item.data.company}</span>}
          </div>
          <div class="item-meta-right">
            {item.data.duration && <span class="inline-field">{item.data.duration}</span>}
          </div>
        </div>
        {item.body && <div class="content" set:html={renderContent(item.body)} />}
      </article>
    );
  })}
</section>
